//Neutrals
$neutral-01: #ffffff;
$neutral-02: #ededed;
$neutral-03: #c8c8cb;
$neutral-04: #4b5862;
$neutral-05: #25252d;

//Primary
$primary: #ff525d;
$secondary: #ff7a85;
$tertiary: #1f3f5b;

//Gradients
$gradient-01: rgba(255, 143, 112, 0.9);
$gradient-02: rgba(255, 61, 84, 0.9);
$gradient-03: rgba(44, 45, 63, 0.9);
$gradient-04: rgba(63, 65, 100, 0.9);

